p {
    width: 70vw;
    color: black;
    align-self: center;
}
.aboutContainer {
    justify-content: center;
    align-items: flex-start;
    background-color: #fbfbfd;
    margin-bottom: 10vw;
    padding-bottom: 10vw;
    padding-top: 15vw;
}
.aboutTitle {
    font-size: 10vw;
    font-weight: 700;
    padding-bottom: 3vw;
    padding-top: 15vw;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 15vw;
}

@media only screen and (min-width: 450px) {
    p {
        width: 57vw;
        color: black;
        align-self: flex-start;
        padding-left: 10vw;
        font-size: 1.75vw;
        line-height: 3vw;
    }
    .aboutContainer {
        justify-content: center;
        align-items: flex-start;
        background-color: #fbfbfd;
        background-image: url(./images/about_background2.jpg);
        background-repeat: no-repeat;
        height: 500px;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 3vw;
        padding-bottom: 3vw;
        padding-top: 10vw;
    }
    .aboutTitle {
        font-size: 4vw;
        font-weight: 700;
        padding-bottom: 2vw;
        padding-top: 18vw;
        align-items: flex-start;
        line-height: 4vw;
        color: black
    }
}
@media only screen and (min-width: 1025px) {
    p {
        width: 50vw;
        color: black;
        align-self: flex-start;
        padding-left: 10vw;
        font-size: 1.2vw;
        line-height: 2vw;
    }
    .aboutContainer {
        justify-content: center;
        align-items: flex-start;
        background-color: #fbfbfd;
        background-repeat: no-repeat;
        height: 500px;
        background-position: center;
        background-size: cover;
        position: relative;
        margin-bottom: 3vw;
        padding-bottom: 3vw;
        padding-top: 3vw;
    }
    .aboutTitle {
        font-size: 3.5vw;
        font-weight: 700;
        padding-bottom: 2vw;
        padding-top: 10vw;
        align-items: flex-start;
        line-height: 6vw;
        color: black
    }
}
