.problem {
    padding-bottom: 5vw;
    display: list-item;
    color: #666;
}
.problemList {
    padding-left: 10vw;
    padding-right: 10vw;
    align-items: flex-start;
}
.desktopContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.lowfi_desk1 {
    width: 90vw;
    height: 80vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 10vw;
}
.lowfi_tablet1 {
    width: 90vw;
    height: 150vw;
    margin-bottom: 10vw;
}
.lowfi_phone1 {
    width: 90vw;
    height: 180vw;
    margin-bottom: 10vw;
}
.hifi_desktop {
    width: 90vw;
    height: 50vw;
    margin-bottom: 10vw;
}
.hifi_ipad {
    width: 90vw;
    height: 120vw;
    margin-bottom: 10vw;
}
.hifi_ipad2 {
    width: 90vw;
    height: 110vw;
    margin-bottom: 10vw;
}
.hifi_phone {
    width: 90vw;
    height: 160vw;
    margin-bottom: 10vw;
}
.redesignPic {
    width: 90vw;
    height: 45vw;
}
@media only screen and (min-width: 450px) {
    .problem {
        padding-bottom: 3vw;
        display: list-item;
        color: #666;
    }
    .problemList {
        padding-left: 20vw;
        padding-right: 20vw;
        align-items: flex-start;
    }
    .desktopContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .lowfi_desk1 {
        width: 60vw;
        height: 55vw;
        padding-left: 20vw;
        padding-right: 20vw;
        margin-bottom: 10vw;
    }
    .lowfi_tablet1 {
        width: 60vw;
        height: 100vw;
        margin-bottom: 10vw;
    }
    .lowfi_phone1 {
        width: 60vw;
        height: 115vw;
        margin-bottom: 10vw;
    }
    .hifi_desktop {
        width: 60vw;
        height: 40vw;
        margin-bottom: 10vw;
    }
    .hifi_ipad {
        width: 60vw;
        height: 90vw;
        margin-bottom: 10vw;
    }
    .hifi_ipad2 {
        width: 60vw;
        height: 70vw;
        margin-bottom: 10vw;
    }
    .hifi_phone {
        width: 60vw;
        height: 110vw;
        margin-bottom: 10vw;
    }
    .redesignPic {
        width: 60vw;
        height: 30vw;
        padding-top: 5vw;
    }
}
@media only screen and (min-width: 1025px) {
    * {
        line-height: 2vw;
    }
    .desktopContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
    }
    .lowfi_desk1 {
        width: 30vw;
        height: 27vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .lowfi_tablet1 {
        width: 30vw;
        height: 45vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .lowfi_phone1 {
        width: 25vw;
        height: 50vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .hifi_desktop {
        width: 38vw;
        height: 25vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .hifi_ipad {
        width: 30vw;
        height: 45vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .hifi_ipad2 {
        width: 30vw;
        height: 35vw;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-bottom: 3vw;
    }
    .hifi_phone {
        width: 25vw;
        height: 48vw;
        padding-left: 3vw;
        padding-right: 3vw;
        margin-bottom: 3vw;
    }
    .redesignPic {
        height: 30vw;
        width: 60vw;
        padding-top: 5vw;
    }
}